<h1>Availlable tests</h1>

<table>
  <thead>
    <tr>
      <th>Test Name</th>
      <th>No. of Questions</th>
      <th>Duration</th>
      <th>Cutoff</th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <% t_name=test.set_by %>
        <% t_name=t_name.upcase+" Aptitude Test" %>
        <td><%= t_name %></td>
        <td><%= test.number_of_questions %></td>
        <td><%= test.duration.to_s+" mins" %></td>
        <td><%= test.cutoff %></td>
        <td><%= link_to 'Start Test', testpaper_index_url(:test_owner => test.set_by) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


