<h1>Listing Questions</h1>

<%= link_to 'New Question', new_my_question_path %>

<%= button_to 'Logout', logout_path, :method =>"delete" %>
</br>
<%= will_paginate @posts %>
</br>
    <% @my_questions.each do |my_question| %>
        <div1><b>Question:</b> <%= my_question.question %></div1></br>
        <div2><b>Option a:</b> <%= my_question.option_a %></br>
         <b>Option b:</b> <%= my_question.option_b %></br>
        <b>Option c:</b> <%= my_question.option_c %></br>
        <b>Option d:</b> <%= my_question.option_d %></br>
        <b>Anwser:</b> <%= my_question.anwser %> <br>
       <b>Question type:</b> <%= my_question.question_type %></br>
              <b>Created by:</b> <%= my_question.created_by %></br>
              <b>Difficulty level:</b><%= my_question.difficulty_level %></br>
        <%= button_to 'Show', my_question, :method =>"get" %>
        <%= button_to 'Edit', edit_my_question_path(my_question), :method =>"get" %>
        <%= button_to 'Destroy', my_question, method: :delete, data: { confirm: 'Are you sure?' } %></div2>
      </br></br>
      
    <% end %>
  
</br>
<%= will_paginate @posts %>
