<h2>Listing Questions </h2>

<%= will_paginate @posts %>
</br>
    <% @my_questions.each do |my_question| %>
        <div class="entry">
          <h2><b>Question: <%= my_question.question %></b></h2></br>
           <div class="option">
            <span class="answer">
              <b>Option a: <%= my_question.option_a %></b></br>
              <b>Option b: <%= my_question.option_b %></b></br>
              <b>Option c: <%= my_question.option_c %></b></br>
              <b>Option d: <%= my_question.option_d %></b></br>
              <b>Anwser: <%= my_question.anwser %></b><br>
              <b>Question type: <%= my_question.question_type %></b></br>
              <b>Created by: <%= my_question.created_by %></b></br>
              <b>Difficulty level:<%= my_question.difficulty_level %></b></br></br>
              <%= button_to 'Show', my_question, :method =>"get" , :class=> 'button' ,   :id=> 'button' %>
              <%= button_to 'Edit', edit_my_question_path(my_question), :method =>"get" , :class=> 'button' ,   :id=> 'button' %>
              <%= button_to 'Destroy', my_question, method: :delete, data: { confirm: 'Are you sure?' } , :class=> 'button' ,   :id=> 'button' %>
            </span>
          </div>
          </div>
      </br></br>
      
    <% end %>
  <%= link_to 'New Question', new_my_question_path , :class=> 'mylink' , :id=> 'mylink'%>
</br>
<%= will_paginate @posts %>
