<!DOCTYPE html>

<html>
<head>
  <title>QUESTION_BANK</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	
	<div id="banner"> 
	<%= image_tag("abc.jpg", :alt => "rss feed") %>
	<%= @page_title || "ERECRUITMENT" %> 
	</div> 
		<div id="columns"> 
			<div id="side"> 
				<h2>
			<ul> <b>
				<li><a href="http://www....">Home</a></li> </br>
				<li><a href="http://www..../faq">Edit Profile</a></li></br>
				<li><a href="http://www..../faq">Result</a></li></br>
				<li><a href="http://www..../faq">About Us</a></li></br>  
				<li><a href="http://www..../news">Logout</a></li> </br>
				
			</b>
			</ul> </h2>
	    	</div> 
	    	<div id="main"> 
	    	<%= yield %> 
	    	</div> 
	    	
	    </div> 
	
</body>
</html>