<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
 
<h1>question paper</h1>
<% @marks_obtained=0 %>


<% @temp.each do |my_question| %>


<div class="entry">
	 
<h3><%= my_question.question %></h3>
<% qid=my_question.id %>
<h4><%= radio_button_tag(:selected_option, "option_a") %>
<%= label_tag(:option_a_label, my_question.option_a) %> </h4>

<h4><%= radio_button_tag(:selected_option, "option_b") %>
<%= label_tag(:option_b_label, my_question.option_b) %> </h4>

<h4><%= radio_button_tag(:selected_option, "option_c") %>
<%= label_tag(:option_c_label, my_question.option_c) %> </h4>

<h4><%= radio_button_tag(:selected_option, "option_d") %>
<%= label_tag(:option_d_label, my_question.option_d) %> </h4>
</div>

<% end %>

<% next_q =((@temp.total_pages == @temp.current_page) ? '' : 'next') %>

<%= will_paginate @temp, :next_label => next_q %>

<% if((@temp.total_pages == @temp.current_page)) %>
	<div>
		<%= button_to 'Submit test', candidates_index_path, :method => "get" %>
	</div>
<% end %>



